<%- include("partials/header"); -%>
<h1>Home</h1>
<p> <%= StartingContent %> </p>

<% console.log(posts); %>

<% for (let i = 0; i < posts.length; i++) { %>
<% } %>



<%- include("partials/footer"); -%>
